{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, <initia></initia>l-scale=1.0">
    <title>Site Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="#">Тут лого
                  </a></li>
                <li class="item"><a href="#">Главная</a></li>
                <li class="item"><a href="#">Категории</a></li>
                <li class="item"><a href="#">Пользователи</a></li>
                </li>
                <li class="item button"><a href="#">Войти</a></li>
                <li class="item button secondary"><a href="#">Зарегестрироваться</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>

<body>
</html>
